<div class = "question">
  <%= render partial: 'vote', locals: {object: question} %>
  <h3><%= link_to question.title, question_path(question) %></h3>
  <span class="answer-count"><%= question.answer_count %></span>
  <span class="question-author"><%= link_to question.author, user_path(question.author) %></span>
</div>
