<div class= "comments-list">
    <%comments.each do |comment|%>
      <div class="comment">
        <p><%= comment.content %></p>
        <p>by <%= comment.user.username %></p>
        <%= render partial: 'vote', locals: {object: comment} %>
     </div>
    <%end%>
  </div>
