<div class= "comments-list">
    <%comments.each do |comment|%>
      <div class="comment">
        <li><%= comment.content %></li>
        <li><%= render partial: 'vote', locals: {object: comment} %></li>
        <li>by <%= link_to comment.user.username, user_path(comment.user) %></li>
     </div>
    <%end%>
  </div>
