<div class= "comments-list">
    <%comments.each do |comment|%>
      <div class="comment">
        <li><%= comment.content %></li>
        <li><%= render partial: 'vote', locals: {object: comment} %></li>
        <li>by <%= comment.user.username %></li>
     </div>
    <%end%>
  </div>
