<h2><%= @user.username %></h2>

<h3>Questions asked</h3>
  <% @questions.each do |question| %>
  <%= render partial: 'user_question', locals: {question: question} %>
<% end %>

<% if @answers %>
  <h3>Questions answered</h3>
  <% @answers.each do |answer| %>
    <%= render partial: 'user_answer', locals: {answer: answer} %>
  <% end %>
<% end %>

