<div class="votes-partial">
  <h5>
    <%= link_to "UP", up_vote_path(votable_id: object.id, votable_type: object.class) %>
    <% if object.votes.any? %>
      | <%= object.total_votes%>
    <% end %>
    | <%= link_to "DOWN", down_vote_path(votable_id: object.id, votable_type: object.class) %></h5>
</div>
